[user]
	email = seechen81@gmail.com
	name = See-Chen Ng

[core]
	excludesfile = /home/nsc/.config.nsc/.gitignore.global
	editor = vim
[color]
	branch = auto
	diff = auto
	status = auto
	log = auto

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = seechen81@gmail.com
	smtpserverport = 587
	suppresscc = self
[push]
	default = simple
